* {
    margin: 0;
}

body {
    background-color: #321c25;
    color: white;
}
.p{
    font-size:20px ;
}
.name{
    color: #bca0ac;
    font-size: 40px;
}
.navbar {
    /* border: 3px solid black; */
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    background-color: #4b313c;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
}

.leftD {
    color: white;
    margin: 0px 60px;


}

/* .rightD{
    border: 3px solid blue; 
} */

.navbar ul {
    background-color: #4b313c;
    overflow: auto;
    display: flex;
    margin: 10px 50px;
    justify-content: end;

}

.navbar ul li {

    list-style: none;
    margin: 10px;
    padding: 3px 3px;
}

.navbar li a {
    color: white;
    text-decoration: none;
}

.first {
    /* border: 2px solid white; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 25px 0px;
}

.leftSection {
    font-size: 30px;
    width: 40%;
    /* border: 2px solid black; */
}

.rightSection {

    width: 30%;
    /* border: 2px solid black; */
}

.first img {
    margin: 100px 0px;
    border-radius: 30px;
}

.second {
    /* border: 2px solid white; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px ;
    /* margin: 25px 0px; */
}

.second .title2 {
    font-size: 30px;
    margin: 40px 0px;
}
.second .parentEd{
    width: 100%;
    /* border: 3px solid white; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.second .one, .two, .three {
    width: 38%;
    background-color: #4b313c;
    margin: 15px;
    padding: 30px;
    /* border: 2px solid white; */
    height: 120x;

    border-radius: 15px;
    font-size: 20px;
display: flex;
justify-content: center;
}
.second .one img{
    
        padding: 10px;
        max-width: 30%;
        height: 90px;
    
}
.second .two img{
    
    padding: 10px;
    max-width: 30%;
    height: 90px;

}
.second .three img{
    padding: 10px;
    max-width: 30%;
    height: 90px;
}
.one:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
}

.two:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
}

.three:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
}

.third {
    /* border: 2px solid white; */
    margin: 25px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.third .parent {
    width: 80%;
    /* border: 3px solid white; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.third .title3 {
    margin: 40px 0px;
    font-size: 30px;
}


.third .gs, .leap, .citi {
    width: 30%;
    background-color: #4b313c;
    border-radius: 1rem;
    /* padding-left: 30px; */
    align-items: center;
    font-size: 1.3rem;
   padding: 2rem;
    text-align: center;
    height: 6rem;
    margin: 0.5rem;
    /* border: 3px solid white; */
    display: flex;
    justify-content: flex-start;

}

.third .gs img{
    padding: 10px;
    max-width: 60%;
    height: 90px;
}
.third .citi img{
    padding: 10px;
    max-width: 30%;
    height: 90px;
}
.third .leap img{
    padding: 10px;
    max-width: 60%;
    height: 90px;
}

.gs:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
}

.citi:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
}

.leap:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
}

.fourth {
    /* border: 2px solid white; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px 0px;
}

.fourth .title4 {
    margin: 40px 0px;
    font-size: 30px;
}
.fourth .skill1{
    display: flex;  
}
.fourth .java, .py, .react, .mysql, .android, .redux, .ts, .js, .gitlab{
    max-width: 30%;
    height: 100px;
    padding: 30px;
}

.contactme{
    /* border: 2px solid white; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contactme .title5{
    font-size: 30px;
   margin: 40px 0px;
}
.contactme .parentCM{
    
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.parentCM div img{
    /* border: 2px solid white; */
    padding: 10px;
    max-width: 60%;
    height: 50px;
   padding-bottom: 60px;
}
.last{
    /* border: 2px solid white; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px 0px;

}
.last .title6{
    font-size: 30px;
    margin: 40px 0px;
}
.last .parentproj{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid white; */
}
.last .isro, .discord, .crypto{
    background-color: #4b313c;
    font-size: 20px;
    margin: 10px 10px;
    /* border: 2px solid white; */
    height: 20vh;
    width: 30%;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.last .isro img{
    padding: 10px;
    max-width: 60%;
    height: 90px;
   
}
.last .crypto img{
    padding: 10px;
    max-width: 60%;
    height: 90px;
   
}
.last .discord img{
    padding: 10px;
    max-width: 60%;
    height: 90px;
   
}
.discord:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
}
.crypto:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
}
.isro:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
}
.hr1, .hr2, .hr3, .hr4, .hr5{
    border: 0.5px solid #4b313c;
}