* {
    margin: 0;

}

body {
    background-color: #321c25;
    color: white;
}

.navbar {
    /* border: 3px solid black; */

    background-color: #4b313c;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
}

.leftD {
    color: white;
    margin: 0px 60px;


}

/* .rightD{
    border: 3px solid blue; 
} */

.navbar ul {
    background-color: #4b313c;
    overflow: auto;
    display: flex;
    margin: 10px 50px;
    justify-content: end;

}

.navbar ul li {

    list-style: none;
    margin: 10px;
    padding: 3px 3px;
}

.navbar li a {
    color: white;
    text-decoration: none;
}

.first {
    border: 2px solid white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 25px 0px;
}

.leftSection {
    font-size: 30px;
    width: 30%;
    /* border: 2px solid black; */
}

.rightSection {
    
    width: 30%;
    /* border: 2px solid black; */
}

.first img {
    margin: 100px 0px;
    border-radius: 30px;
}

.second {
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px 0px;
}

.second .title2 {
    font-size: 30px;
    margin: 40px 0px;
}

.second .one {
    background-color: #4b313c;
    margin: 15px;
    padding: 60px 60px;
    /* border: 2px solid white; */
    height: 90px;

    border-radius: 15px;
    font-size: 20px;

    display: flex;
    width: 40%;
    flex-direction: column;
}

.second .two {
    background-color: #4b313c;
    margin: 15px;
    padding: 60px 60px;
    /* border: 2px solid white; */
    height: 60px;


    border-radius: 15px;
    font-size: 20px;

    display: flex;
    width: 40%;
    flex-direction: column;
}

.second .three {
    background-color: #4b313c;
    margin: 15px;
    padding: 60px 60px;
    /* border: 2px solid white; */
    height: 60px;


    border-radius: 15px;
    font-size: 20px;

    display: flex;
    width: 40%;
    flex-direction: column;
}

.one:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
}

.two:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
}

.three:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
}
.third {
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px 0px;
}
.third .title3{
    margin: 40px 0px;
    font-size: 30px;
}

.fourth {
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px 0px;
}
.fourth .title4{
    margin: 40px 0px;
    font-size: 30px;
}